body {
    font-family: "Gulzar""Poppins";
}

.background {
    outline: 2em;
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.text-align {
    text-align: center;
    color: white;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(#ff1500, tomato);
    padding: 10px 20px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 5px;

}

.align {
    text-align: center;
}

h1 {
    font-size: 50px;
}

.flexible {
    display: flex;
    margin-bottom: 100px;
    padding-right: 100px;
}

.resize1 {
    background-color: #d6f2f28d;
    padding: 10px 20px;
    border-radius: 10px;
}

.resize2 {
    background-color: #dfadb59e;
    padding: 10px 20px;
    border-radius: 10px;

}

.resize3 {
    background-color: #efeda78e;
    padding: 10px 20px;
    border-radius: 10px;
}