body {
    font-family: "Gulzar""Poppins";
}



.background {

    background-image: url(images/donation8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin-bottom: 100px;
}

.text-align {
    text-align: center;
    color: whitesmoke;
}

.text {
    text-align: center;
    padding-top: 300px;

}

.donatetext {
    text-align: center;
    margin: 50px;

}

.donateammount {
    display: flex;
    margin-left: 200px;


}

.donateammount p {
    border: 0.5px solid #d2d2d29a;
    margin: 10px 20px;
    font-size: 40px;
    background-color: rgba(212, 210, 210, 0.149);
    font-weight: bold;
    height: 80px;
    padding-top: 30px;
    border-radius: 5px;


}

.textadj {
    margin-left: 35px;
    margin-right: 35px;
}

.colorp2 {
    border: 2px solid #f64545;
    color: #f46d6db4;
    background-color: #fc81818f;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 32px;
    border-radius: 5px;


}

.altammount p {
    text-align: center;
    color: rgba(174, 173, 173, 0.63);
    border-bottom: 1px solid rgba(174, 173, 173, 0.63);
    margin: 10px 300px;
    padding-bottom: 5px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(#ff1500, tomato);
    padding: 10px 20px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 5px;

}

.align {
    text-align: center;
}

.imgintop {
    position: absolute;
    top: 0px;
    right: 0px;

}

h1 {
    font-size: 50px;
}

.flexible {
    display: flex;
    margin-bottom: 100px;
    margin-left: 100px;
    padding-right: 100px;
    margin-right: 20px;
}

.logoresize {
    text-align: left;
}

.resize1 {
    background-color: #d6f2f28d;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;

}

.resize2 {
    background-color: #dfadb59e;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;

}

.resize3 {
    background-color: #efeda78e;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}

.donatebutton {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.picalign {
    margin-right: 300px;
}

.subscribe {
    margin-top: 50px;
    text-align: center;
}

.updated {
    margin: 100px 450px;
    background-color: #fcda92ee;
    padding: 50px 40px;
}

.link-button3 {
    text-decoration: none;
    background-image: linear-gradient(#ff1500, tomato);
    padding: 0.8px 2px;
    font-weight: 200;
    color: aliceblue;
}

.updated input {
    margin-left: 120px;
    color: gray;
}

.footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px 0px;
}

.footer h3 {
    color: #f64545;
    font-weight: 800;
    font-family: "Finlandica""Gulzar""Poppins";

}